<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<nav class="navbar justify-content-center navbar-dark bg-dark">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button"><%= link_to "La page pour nous contacter Uwu", "/contact" %></button>
    <button class="btn btn-outline-success" type="button"><%= link_to "Revenir à la page d'accueil", "/welcome" %></button>
    <button class="btn btn-outline-success" type="button"><%= link_to "La page de notre 'équipe'", "/equipe" %> </br></button>
  </form>
</nav>


<h1> Voici la page de <%= @user.first_name %> <%= @user.last_name %> </h1>

	<% @user.gossips.each do |gossip| %>
	<li> <%= link_to "#{gossip.title}", "/gossip/#{gossip.id}" %> </li> 
	<li> <%= gossip.content %> </li> </br>
<% end %>

